<div id="catalog">
  <div class="cat_content">
    <div id="path">
      <span class="title_path"><%= link_to "Каталог", products_path %> </span> 
      <% @path.reverse.each do |p| %>
        → <%= link_to p.name, p %> 
      <% end %>
      → <%= @category.name %>
    </div>
    <div id="categories">
      <ul id="tree">
        <% for category in @main_categories %>
          <li>
            <%= link_to category.name, category %>
            <%= raw find_all_subcategories(category) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="table_for_products">
        <table>
          <tr class="head">
            <td>Наименование:</td>
            <td>Описание:</td>
            <td>Производитель:</td>
            <td>Наличие фотографии:</td>
          </tr>
          <% @products.each do |product| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
              <td><%= link_to product.name, product %></td>
              <td><%= product.description %></td>
              <td><%= product.manufact %></td>
              <td><%= photo_product(product) %></td>
            </tr>
          <% end %>  
        </table>
    </div>    
  </div>
  <div class="clear"></div>
  <div class="catalog_paginate">
    <%= paginate @products %>
  </div>
</div>
<div class="clear"></div>