<%= flash_message(@products) %>
<div id="catalog">
  <div class="cat_content">
    <div id="path">
      <span class="title_path"><%= link_to "Каталог", products_path %> → Все товары</span>
    </div>
    <div id="categories">
      <%= render('/shared/menutree') %>
    </div>
    <div id="table_for_products">
        <table>
          <tr id="headtable">
            <td>Наименование:</td>
            <td>Описание:</td>
            <td>Производитель:</td>
            <td>Наличие фотографии:</td>
          </tr>
          <% @products.each do |product| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
              <td><%= link_to product.name, product %></td>
              <td><%= product_desc_more(product) %></td>
              <td><%= product.manufact %></td>
              <td>
                <%= photo_product(product) %>
              </td>
            </tr>
          <% end %>  
        </table>
    </div>    
  </div>
  <div class="clear"></div>
  <div class="catalog_paginate">
    <%= paginate @products %>
  </div>
</div>
<div class="clear"></div>