<%= flash_message(@products) %>
<div id="show_product">
    <div class="title">
      <%= @product.name %>
    </div>
    <div class="content">
      <p><b>Описание:</b> <%= @product.description %></p>
      <p><b>Производитель:</b> <%= @product.manufact %></p>
      <p><b>Параметры:</b></p>
      <% if attach_have?(@product) %>
        <div class="attach_file">
          Прикрепленный файл: 
          <a href="<%= @product.attach.url %>"> <%= select_icon(@product) %> скачать</a>
        </div>
      <% end %>
    </div>
    <div class="photo_cont">
    <div class="photo_product_title">
      <b>Фотография:</b>
    </div>
    <div class="photo_image">
    <a href="<%= @product.photo.url(:medium) %>" class="lightbox" title="<%="#{@product.name} #{@product.description}" %>"><%= image_tag @product.photo.url(:thumb), :alt => "#{@product.name} #{@product.description}" %></a>          
    </div>
    </div>
    <div class="clear"></div>
    <div class="add_date">
      Дата добавления: <%= date(@product) %>
    </div>
</div>
<div class="clear"></div>