<div id="header">
  <div id="logo">
    <a href="#"><%= link_to image_tag('logo.png'), root_path %></a>
  </div>
  <div id="info_header">
    <div id="phone">
      <%= data_company[:phone_code] %>
      <span><%= data_company[:phone] %></span>
    </div>
    <div id="email">
      e-mail: <%= link_to data_company[:email], "mailto:#{data_company[:email]}" %>
    </div>
  </div>
  <div id="icons">
    <ul>
      <li><%= link_to image_tag('home_icon.png'), root_path %></li>
      <li><%= link_to image_tag('mail_icon.png'), contacts_path %></li>
    </ul>
  </div>
  <div id="search">
    <%= form_tag "/search", :method => :get do %>
      <%= text_field_tag  :name, nil, :class => "search_input" %>
      <%= submit_tag "", :class => "search_button" %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div id="main_menu">
    <ul id="jsddm">
      <li id="first"><%= link_to "Главная", root_path %></li>
      <li>
        <%= link_to "Каталог", products_path %>
        <ul>
          <li><%= link_to "Светотехническая продукция", "" %></li>
          <li><%= link_to "Электроустановочные изделия", "" %></li>
          <li><%= link_to "Кабельная продукция", "" %></li>
          <li><%= link_to "Электромонтажные материалы", "" %></li>
          <li><%= link_to "Коммутационная аппаратура", "" %></li>
          <li><%= link_to "Тепловое оборудование", "" %></li>
          <li><%= link_to "Щитовое оборудование", "" %></li>
          <li><%= link_to "Приборы учета и контроля электроэнергии", "" %></li>
          <li><%= link_to "Силовое оборудование", "" %></li>
          <li><%= link_to "Инструмент", "" %></li>
          <li id="last_jsddm"><%= link_to "Арматура СИП", "" %></li>
        </ul>
      </li>
      <li><%= link_to "Новости", news_index_path %></li>
      <li id="last"><%= link_to "Контакты", contacts_path %></li>
    </ul>
  </div>
  <div id="header_wall">
    <div id="cabel_and_lamp"></div>
    <div id="header_wall_text_one"></div>
    <div id="header_wall_text_two">
Комплексные поставки электрооборудования и материалов. Комплектация шкафов любой сложности(ВРУ, АВР, ПР-11, ШР и др.) БЫСТРО! НАДЕЖНО! КАЧЕСТВЕННО! ВСЁ! От розетки до подстанционного оборудования!
    </div>
  </div>
</div>