<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name="description" content="<%= data_company[:meta_desc] %>" />
<meta name="keywords" content="<%= data_company[:meta_keywords] %>" />
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>