<div id="header">
  <div id="logo">
    <a href="#"><%= link_to image_tag('logo.png'), root_path %></a>
  </div>
  <div id="info_header">
    <div id="phone">
      <%= data_company[:phone_code] %>
      <span><%= data_company[:phone] %></span>
    </div>
    <div id="email">
      e-mail: <%= link_to data_company[:email], "mailto:#{data_company[:email]}" %>
    </div>
  </div>
  <div id="icons">
    <ul>
      <li><%= link_to image_tag('home_icon.png'), root_path %></li>
      <li><%= link_to image_tag('mail_icon.png'), contacts_path %></li>
    </ul>
  </div>
  <div id="search">
    <%= form_tag "/search", :method => :get do %>
      <%= text_field_tag  :name, nil, :class => "search_input" %>
      <%= submit_tag "", :class => "search_button" %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div id="main_menu">
    <ul id="jsddm">
      <li id="first"><%= link_to "Главная", root_path %></li>
      <li>
        <%= link_to "Каталог", products_path %>
        <ul>
          <li><a href="/categories/48">Светотехническая продукция</a></li>
          <li><a href="/categories/49">Электроустановочные изделия</a></li>
          <li><a href="/categories/50">Кабельная продукция</a></li>
          <li><a href="/categories/51">Электромонтажные материалы</a></li>
          <li><a href="/categories/52">Коммутационная аппаратура</a></li>
          <li><a href="/categories/53">Тепловое оборудование</a></li>
          <li><a href="/categories/54">Щитовое оборудование</a></li>
          <li><a href="/categories/55">Приборы учета и контроля электроэнергии</a></li>
          <li><a href="/categories/56">Силовое оборудование</a></li>
          <li><a href="/categories/57">Инструмент</a></li>
          <li id="last_jsddm"><a href="/categories/58">Арматура СИП</a></li>
        </ul>
      </li>
      <li><%= link_to "Новости", news_index_path %></li>
      <li id="last"><%= link_to "Контакты", contacts_path %></li>
    </ul>
  </div>
  <div id="header_wall">
    <ul id="cabel_and_lamp">
      <li><img src="/assets/4.png" id="socket" height="200" width="190" /></li>
      <li><img src="/assets/2.png" id="lamp" height="310" width="250" /></li>
      <li><img src="/assets/1.png" height="310" width="280" /></li>
      <li><img src="/assets/3.png" id="lamp" height="310" width="250" /></li>
    </ul>
    <div id="header_wall_text_one"></div>
    <div id="header_wall_text_two">
Комплексные поставки электрооборудования и материалов. Комплектация шкафов любой сложности(ВРУ, АВР, ПР-11, ШР и др.) 
      <p>БЫСТРО! НАДЕЖНО! КАЧЕСТВЕННО!</p>
      <p>ВСЁ! От розетки до подстанционного оборудования!</p>
    </div>
  </div>
</div>