<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <div class="clear"></div>
    <div id="content">
      <%= yield %>
      <%= render 'layouts/content_main_page' %>
    </div>
    <div class="clear"></div>
    <%= render 'layouts/footer' %>
  </div>
  <% unless Rails.env.development? %>
  <!-- Yandex.Metrika counter -->
  <div style="display:none;"><script type="text/javascript">
  (function(w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter10535791 = new Ya.Metrika({id:10535791, enableAll: true});
          }
          catch(e) { }
      });
  })(window, "yandex_metrika_callbacks");
  </script></div>
  <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
  <noscript><div><img src="//mc.yandex.ru/watch/10535791" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <% end %>
</body>
</html>